<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Customer</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/customer" class="btn btn-secondary btn-sm" mat-button>Back To Players List</a>
    </div>
  </div>
  <br />

  <form [formGroup]="createForm" >

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Re Password</mat-label>
      <input matInput [type]="hider ? 'password' : 'text'" formControlName="repassword">
      <button mat-icon-button matSuffix (click)="hider = !hider" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hider">
        <mat-icon>{{hider ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" class="example-right-align" placeholder="0">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.000</span>
    </mat-form-field>

    <mat-form-field appearance="fill" [color]="color">
      <mat-label>Color</mat-label>
      <mat-select formControlName="role" (selectionChange)="changeRole()">
        <mat-option value="ADMIN">ADMIN</mat-option>
        <mat-option value="USER">USER</mat-option>
        <mat-option value="SUPER">SUPER</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <button mat-button color="primary" type="submit" [disabled]="!createForm.valid" (click)="onSubmit()">Create</button>
  </form>
</div>
