<div class="container">
  <br />
  <h3>Customer</h3>
  <br />
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>{{ user?.username }}</h4>
        </div>
        <div class="col text-right">
          <a routerLink="/customer" class="btn btn-secondary btn-sm">Back To Players List</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Id:</b> {{ user?.id }}</li>
      <li class="list-group-item"><b>Name:</b> {{ user?.username }}</li>
    </ul>
  </div>
</div>
